<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC8C38AC1BC1542A00FF0D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC8C38C51BC1542A00FF0D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC8C38D01BC1542A00FF0D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
